[submodule "lib/Polygeist"]
	path = lib/Polygeist
	url = https://github.com/llvm/Polygeist
[submodule "bench/DataFrame"]
	path = bench/DataFrame
	url = https://github.com/hosseinmoein/DataFrame
[submodule "bench/gpt2.cpp"]
	path = bench/gpt2.cpp
	url = https://github.com/iangitonga/gpt2.cpp.git
[submodule "bench/gapbs"]
	path = bench/gapbs
	url = https://github.com/sbeamer/gapbs
[submodule "bench/MonetDB"]
	path = bench/MonetDB
	url = https://github.com/MonetDB/MonetDB
