CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache
build
a.out
libremote.so
.vscode
.idea
cmake-build-debug
mcf.out
429.mcf*
Makefile.mips
*.o
perf1.data
perf.data
perf.data.old
obj
libmcf.so